.headher {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: darkblue;
  font-family: monospace;
  gap: 6rem;
}
.head-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.icon {
  font-size: 1.3rem;
  color: brown;
}
.head-right nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.1rem;

}
