:root {
  --bg: #dcdde1;
  --color-icon: #535c68;
  --social-icon1: #e4405f;
  --social-icon2: #3b5999;
  --social-icon3: #e4405f;
  --social-icon4: #cd201f;
  --social-icon5: #0077b5;
}

* {
  margin: 0;
  padding: 0;
}
.right{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}
#topheader{
  background-color: rgb(4, 4, 64);
  color: white;
}
.icc{
  font-size: 2.4rem;
}
.iconn {
  font-size: 4.2rem;
  color: red;
}
.topheader {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-left {
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.icon-list {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icon-item {
  list-style: none;
}

.icon-link {
  display: inline-flex;
  font-size: 3.5rem;
  text-decoration: none;
  color: white;
  width: 4.2rem;
  height: 4.2rem;
  transition: 0.5s linear;
  position: relative;
  z-index: 1;
  margin: auto;
}

.icon-link:hover {
  color: #fff;
}

.icon-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 4rem;
  height: 4rem;
  background: #000;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
}

.icon-link:hover::before {
  transform: scale(1);
}

.icon-item:nth-child(1) a:hover:before {
  background: var(--social-icon1);
}

.icon-item:nth-child(2) a:hover:before {
  background: var(--social-icon2);
}

.icon-item:nth-child(3) a:hover:before {
  background: var(--social-icon3);
}

.icon-item:nth-child(4) a:hover:before {
  background: var(--social-icon4);
}

.icon-item:nth-child(5) a:hover:before {
  background: var(--social-icon5);
}
